<div class="card shadow-sm p-3 mb-5 bg-white rounded">
    <h2 class="title text-center text-primary">Social Media Posting</h2>
</div>
<div class="container-fluid">
    <div class="row justify-content-between" style="margin: 0 auto;">
        <div class="col-6">
            <button type="button" class="btn btn-primary btn-lg w-100" (click)="SignInFB()">Facebook</button>
        </div>
        <div class="col-6">
            <button type="button" class="btn btn-primary btn-lg w-100">Twitter</button>
        </div>
    </div>

    <div class="row justify-content-between" style="margin: 0 auto;">
        <div class="col-6">
            <div class="card shadow-sm p-3 mt-3 mb-5 bg-white rounded">
                <div class="card-header mt-3">
                    Post to Facebook Page
                </div>
                <div class="card-body">
                    <form>
                        <div class="form-group">
                            <label>Text</label>
                            <textarea class="form-control" rows="3"></textarea>
                        </div>
                        <button type="submit" class="btn btn-primary mt-2">Submit</button>
                        <button type="submit" class="btn btn-primary mt-2 ms-1">Logout</button>
                    </form>
                </div>
            </div>
        </div>

        <div class="col-6">
            <div class="card shadow-sm p-3 mt-3 mb-5 bg-white rounded">
                <div class="card-header mt-3">
                    Post to Twitter account
                </div>
                <div class="card-body">
                    <form>
                        <div class="form-group">
                            <label>Text</label>
                            <textarea class="form-control" rows="3"></textarea>
                        </div>
                        <button type="submit" class="btn btn-primary mt-2">Submit</button>
                        <button type="submit" class="btn btn-primary mt-2 ms-1">Logout</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>