/* #myDIV {
   
    margin-left: 35%;
    align-items: center;
    width: %;
    height: 500px;
    outline: 1px solid black;
    animation: mymove 5s infinite;
  } */
 .heading{
     font-family:Verdana, Geneva, Tahoma, sans-serif;
     text-shadow: lightblue;
    }

.maindiv{
    outline: 1px solid black;
    height:70%;
    width:45%;
    margin-left:30%;
    animation: mymove 5s infinite;
  
}

   @keyframes mymove {
    50% {outline: 5px solid rgb(18, 140, 180);}
  } 
   .buttonlogin{
    margin-top: 10%;
    margin-left: 15%;
    margin-right: 10%;
  
   }
  .textArea{

    margin-left: 5%;
    margin-right: 10%;
    margin-bottom:5%;

  }
  .btnsubmit{
    margin-top:10%;
    margin-left:10%;
    margin-right:10%;
    margin-bottom:5%;
   
  }