<div class="card shadow-sm p-3 mb-5 bg-white rounded">
    <i class="fas fa-share-alt fa-3x text-center"></i>
    <h2 class="title text-center text-primary">Let Them Know</h2>
</div>
<div class="container-fluid">
    <div class="row justify-content-between" style="margin: 0 auto;">
        <div class="col-6">
            <button type="button" class="btn btn-primary btn-lg w-100" (click)="SignInFB()" style="background-color: blue;">Facebook <i class="fab fa-facebook"></i></button>
        </div>
        <div class="col-6">
            <button type="button" class="btn btn-primary btn-lg w-100" (click)="SignInTwitter()" data-bs-toggle="modal">Twitter <i class="fab fa-twitter"></i></button>
        </div>
    </div>

    <div class="row justify-content-between" style="margin: 0 auto;">
        <div class="col-6">
            <div class="card shadow-sm p-3 mt-3 mb-5 bg-white rounded">
                <div class="card-body">
                    <form [formGroup]="fbForm" (ngSubmit) = "SubmitPost()">
                        <div class="form-group">
                            <textarea id="fbmessage" formControlName="message" class="form-control" rows="3" placeholder="Add your content here..."></textarea>
                        </div>
                        <button type="submit" class="btn btn-primary mt-2" [disabled] = "fbLoggedIn == false" style="background-color: blue;">Post</button>
                        <button type="button" class="btn btn-primary mt-2 ms-1" [disabled] = "fbLoggedIn == false" (click)="GetPageImpressions()" style="background-color: blue;">Get Impressions</button>                    
                        <button type="button" class="btn btn-primary mt-2 ms-1" [disabled] = "fbLoggedIn == false" (click)="SignOutFB()" style="background-color: blue;">Logout</button>
                    </form>
                    <div class="card mt-5" *ngIf="isGetImpressionClicked">
                        <table class="table">
                            <thead>
                              <tr class="text-center">
                                <th scope="col">#</th>
                                <th scope="col">Impressions</th>
                                <th scope="col">Likes</th>
                                <th scope="col">Wows</th>
                              </tr>
                            </thead>
                            <tbody>
                              <tr class="text-center">
                                <th scope="row">1</th>
                                <td>{{impressionsCount}}</td>
                                <td>{{fanCount}}</td>
                                <td>0</td>
                              </tr>
                            </tbody>
                          </table>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-6">
            <div class="card shadow-sm p-3 mt-3 mb-5 bg-white rounded">
                <div class="card-body">
                    <form [formGroup]="twitterForm" (ngSubmit) = "SubmitTweet()">
                        <div class="form-group">
                            <textarea formControlName="message" class="form-control" rows="3" placeholder="Add your content here..."></textarea>
                        </div>
                        <button type="submit" class="btn btn-primary mt-2" [disabled] = "twitterLoggedIn == false">Tweet</button>
                        <button type="button" class="btn btn-primary mt-2 ms-1" [disabled] = "twitterLoggedIn == false" (click)="LogoutTwitter()">Logout</button>
                    </form>
                </div>
            </div>
        </div>

        <div class="row justify-content-between" style="margin: 0 auto;">
          <div class="col-6">
              <button type="button" class="btn btn-primary btn-lg w-100" (click)="SignInLinkedIn()" style="background-color: royalblue">Linked <i class="fab fa-linkedin"></i></button>
          </div>
          <!-- <div class="col-6">
              <button type="button" class="btn btn-primary btn-lg w-100" (click)="SignInTwitter()" data-bs-toggle="modal">Twitter <i class="fab fa-twitter"></i></button>
          </div> -->
      </div>
        <div class="col-6">
          <div class="card shadow-sm p-3 mt-3 mb-5 bg-white rounded">
              <div class="card-body">
                  <form [formGroup]="linkedinForm" (ngSubmit) = "SubmitLinkedInPost()">
                      <div class="form-group">
                          <textarea formControlName="message" class="form-control" rows="3" placeholder="Add your content here..."></textarea>
                      </div>
                      <button type="submit" class="btn btn-primary mt-2" [disabled] = "linkedinLoggedIn == false" style="background-color: royalblue;">Post</button>
                      <button type="button" class="btn btn-primary mt-2 ms-1" [disabled] = "linkedinLoggedIn == false" (click)="LogoutLinkedin()" style="background-color: royalblue;">Logout</button>
                  </form>
              </div>
          </div>
      </div>
    </div>
</div>

  <!-- Modal -->
  <div class="modal fade" id="varifierPopup" data-bs-backdrop="static" tabindex="-1" aria-labelledby="varifierPopupLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="varifierPopupLabel">Verify</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <!-- <label>Verification Code: </label> -->
            <input [value]="verifyCode" (input)="verifyCode = $event.target.value;"  placeholder="Enter Verification Code" type="text" />
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary" data-bs-dismiss="modal" (click)="VerifyCode()">Ok</button>
        </div>
      </div>
    </div>
  </div>